extends layout

block content 
  body#page-top
    // Page Wrapper
    #wrapper
      // Sidebar
      ul#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion
        // Sidebar - Brand
        a.sidebar-brand.d-flex.align-items-center.justify-content-center(href='/')
          .sidebar-brand-icon.rotate-n-15
            i.fas.fa-laugh-wink
          .sidebar-brand-text.mx-3
            | GPM 
            sup 2
        // Divider
        hr.sidebar-divider.my-0
        // Nav Item - Dashboard
        li.nav-item.active
          a.nav-link(href='/')
            i.fas.fa-fw.fa-tachometer-alt
            span Dashboard
        // Divider
        hr.sidebar-divider
        // Nav Item - Pages Collapse Menu
        li.nav-item
          a.nav-link.collapsed(href='#', data-toggle='collapse', data-target='#collapsePages', aria-expanded='true', aria-controls='collapsePages')
            i.fas.fa-fw.fa-folder
            span Mudas
          #collapsePages.collapse(aria-labelledby='headingPages', data-parent='#accordionSidebar')
            .bg-white.py-2.collapse-inner.rounded
              h6.collapse-header Ações Mudas:
              a.collapse-item(href='/registerseedling') Adicionar Muda
              a.collapse-item(href='/updateMuda') Editar Muda
              a.collapse-item(href='/removeMuda') Remover Muda
              .collapse-divider
        // Nav Item - Charts
        li.nav-item
          a.nav-link(href='/charts')
            i.fas.fa-fw.fa-chart-area
            span Gráficos
        // Nav Item - Tables
        li.nav-item
          a.nav-link(href='/requisicao')
            i.fas.fa-tree
            span Requisitar Mudas
        // Nav Item - Tables
        li.nav-item
          a.nav-link(href='/registerseedling')
            i.fab.fa-pagelines
            span Cadastrar Mudas
        li.nav-item
          a.nav-link(href='/allowregister')
            i.fas.fa-users
            span Pedidos
        // Divider
        hr.sidebar-divider.d-none.d-md-block
        // Sidebar Toggler (Sidebar)
        .text-center.d-none.d-md-inline
          button#sidebarToggle.rounded-circle.border-0
      // End of Sidebar
      // Content Wrapper
      #content-wrapper.d-flex.flex-column
        // Main Content
        #content
          // Topbar
          nav.navbar.navbar-expand.navbar-light.bg-white.topbar.mb-4.static-top.shadow
            // Sidebar Toggle (Topbar)
            button#sidebarToggleTop.btn.btn-link.d-md-none.rounded-circle.mr-3
              i.fa.fa-bars
            // Topbar Search
            .row
              form.d-none.d-sm-inline-block.form-inline.mr-auto.ml-md-3.my-2.my-md-0.mw-100.navbar-search
                .input-group
                  input.form-control.bg-light.border-0.small(type='text', placeholder='Search for...', aria-label='Search', aria-describedby='basic-addon2')
                  .input-group-append
                    button.btn.btn-primary(type='button')
                      i.fas.fa-search.fa-sm
            // Topbar Navbar
            ul.navbar-nav.ml-auto
              // Nav Item - Search Dropdown (Visible Only XS)
              li.nav-item.dropdown.no-arrow.d-sm-none
                a#searchDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  i.fas.fa-search.fa-fw
                // Dropdown - Messages
                .dropdown-menu.dropdown-menu-right.p-3.shadow.animated--grow-in(aria-labelledby='searchDropdown')
                  form.form-inline.mr-auto.w-100.navbar-search
                    .input-group
                      input.form-control.bg-light.border-0.small(type='text', placeholder='Search for...', aria-label='Search', aria-describedby='basic-addon2')
                      .input-group-append
                        button.btn.btn-primary(type='button')
                          i.fas.fa-search.fa-sm
              // Nav Item - Alerts
              li.nav-item.dropdown.no-arrow.mx-1
                a#alertsDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  i.fas.fa-bell.fa-fw
                  // Counter - Alerts
                  span.badge.badge-danger.badge-counter 3+
                // Dropdown - Alerts
                .dropdown-list.dropdown-menu.dropdown-menu-right.shadow.animated--grow-in(aria-labelledby='alertsDropdown')
                  h6.dropdown-header
                    | Alerts Center
                  a.dropdown-item.d-flex.align-items-center(href='#')
                    .mr-3
                      .icon-circle.bg-primary
                        i.fas.fa-file-alt.text-white
                    div
                      .small.text-gray-500 December 12, 2019
                      span.font-weight-bold A new monthly report is ready to download!
                  a.dropdown-item.d-flex.align-items-center(href='#')
                    .mr-3
                      .icon-circle.bg-success
                        i.fas.fa-donate.text-white
                    div
                      .small.text-gray-500 December 7, 2019
                      |                     $290.29 has been deposited into your account!
                  a.dropdown-item.d-flex.align-items-center(href='#')
                    .mr-3
                      .icon-circle.bg-warning
                        i.fas.fa-exclamation-triangle.text-white
                    div
                      .small.text-gray-500 December 2, 2019
                      |                     Spending Alert: We've noticed unusually high spending for your account.
                  a.dropdown-item.text-center.small.text-gray-500(href='#') Show All Alerts
              // Nav Item - Messages
              li.nav-item.dropdown.no-arrow.mx-1
                a#messagesDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  i.fas.fa-envelope.fa-fw
                  // Counter - Messages
                  span.badge.badge-danger.badge-counter 7
                // Dropdown - Messages
                .dropdown-list.dropdown-menu.dropdown-menu-right.shadow.animated--grow-in(aria-labelledby='messagesDropdown')
                  h6.dropdown-header
                    | Message Center
                  a.dropdown-item.d-flex.align-items-center(href='#')
                    .dropdown-list-image.mr-3
                      img.rounded-circle(src='https://source.unsplash.com/fn_BT9fwg_E/60x60', alt='')
                      .status-indicator.bg-success
                    .font-weight-bold
                      .text-truncate Hi there! I am wondering if you can help me with a problem I've been having.
                      .small.text-gray-500 Emily Fowler · 58m
                  a.dropdown-item.d-flex.align-items-center(href='#')
                    .dropdown-list-image.mr-3
                      img.rounded-circle(src='https://source.unsplash.com/AU4VPcFN4LE/60x60', alt='')
                      .status-indicator
                    div
                      .text-truncate
                        | I have the photos that you ordered last month, how would you like them sent to you?
                      .small.text-gray-500 Jae Chun · 1d
                  a.dropdown-item.d-flex.align-items-center(href='#')
                    .dropdown-list-image.mr-3
                      img.rounded-circle(src='https://source.unsplash.com/CS2uCrpNzJY/60x60', alt='')
                      .status-indicator.bg-warning
                    div
                      .text-truncate
                        | Last month's report looks great, I am very happy with the progress so far, keep up the good work!
                      .small.text-gray-500 Morgan Alvarez · 2d
                  a.dropdown-item.d-flex.align-items-center(href='#')
                    .dropdown-list-image.mr-3
                      img.rounded-circle(src='https://source.unsplash.com/Mv9hjnEUHR4/60x60', alt='')
                      .status-indicator.bg-success
                    div
                      .text-truncate
                        | Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...
                      .small.text-gray-500 Chicken the Dog · 2w
                  a.dropdown-item.text-center.small.text-gray-500(href='#') Read More Messages
              .topbar-divider.d-none.d-sm-block
              // Nav Item - User Information
              li.nav-item.dropdown.no-arrow
                a#userDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  span.mr-2.d-none.d-lg-inline.text-gray-600.small Valerie Luna
                  img.img-profile.rounded-circle(src='https://source.unsplash.com/QAB-WJcbgJk/60x60')
                // Dropdown - User Information
                .dropdown-menu.dropdown-menu-right.shadow.animated--grow-in(aria-labelledby='userDropdown')
                  a.dropdown-item(href='#')
                    i.fas.fa-user.fa-sm.fa-fw.mr-2.text-gray-400
                    |                   Profile
                  a.dropdown-item(href='#')
                    i.fas.fa-cogs.fa-sm.fa-fw.mr-2.text-gray-400
                    |                   Settings
                  a.dropdown-item(href='#')
                    i.fas.fa-list.fa-sm.fa-fw.mr-2.text-gray-400
                    |                   Activity Log
                  .dropdown-divider
                  a.dropdown-item(href='#', data-toggle='modal', data-target='#logoutModal')
                    i.fas.fa-sign-out-alt.fa-sm.fa-fw.mr-2.text-gray-400
                    |                   Logout
          // End of Topbar
          // Begin Page Content
          .container-fluid
              form(action="/registerseedling" method="POST")
                .form-row
                  .form-group.col-md-6
                    label(for='nome') Nome
                    input#nome.form-control(name="nome",type='text', placeholder='Ex: Manga')
                  .form-group.col-md-6
                    label.my-1.mr-2(for='tipo_unitario') Tipo da Muda
                    select#tipo_unitario.custom-select.my-1(name="tipo_unitario")
                      option(value='nativa-muda') Nativa-Muda
                      option(value='ornamental') Ornamental
                      option(value='fruteira-muda') Fruteira-Muda
                      option(value='medicinal') Medicinal
                .form-row
                  .form-group.col-md-3
                    label(for='valor_unitario') Valor Unitário
                    .input-group.mb-3
                      .input-group-prepend
                        span.input-group-text R$
                      input#valor_unitario.form-control(name='valor_unitario', type='number', step="0.01",aria-label='Amount (to the nearest Real)')
                      .input-group-append
                        span.input-group-text .00
                  .form-group.col-md-4
                    label(for='estoque_atual') Estoque Atual
                    input#quantidade.form-control(style='margin-left: 5px;', name='estoque_atual', type='number', placeholder='Ex: 20')
                  .form-group.col-md-5
                    label(for="estoque_minimo") Estoque Mínimo
                    input#estoque_minimo.form-control(name="estoque_minimo", type="number", placeholder="Ex: 20")
                .row.justify-content-center
                  button.btn.btn-success.btn-lg.btn-block.add(type='button', style='width: 30%;') Adicionar
                
                #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
                  .modal-dialog(role='document')
                    .modal-content
                      .modal-header
                        h5#exampleModalLabel.modal-title Confirmação
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                          span(aria-hidden='true') ×
                      .modal-body
                        | Deseja adicionar realmente? 
                      .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Fechar
                        button.btn.btn-success(type='submit') Confirmar

            footer.sticky-footer.bg-white
              .container.my-auto
                .copyright.text-center.my-auto
                  span Copyright © Your Website 2019
              // End of Footer
              // End of Content Wrapper
              // End of Page Wrapper
              // Scroll to Top Button
            a.scroll-to-top.rounded(href='#page-top')
              i.fas.fa-angle-up
              // Logout Modal
            #logoutModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
              .modal-dialog(role='document')
                .modal-content
                  .modal-header
                    h5#exampleModalLabel.modal-title Ready to Leave?
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true') ×
                  .modal-body Select "Logout" below if you are ready to end your current session.
                  .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                    a.btn.btn-primary(href='login.html') Logout
              // Bootstrap core JavaScript
            script(src='vendor/jquery/jquery.min.js')
            script(src='vendor/jquery-easing/jquery.easing.min.js')

            script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
              // Core plugin JavaScript
            script(src='vendor/jquery-easing/jquery.easing.min.js')
              // Custom scripts for all pages
            
            script(src='js/sb-admin-2.min.js')
            
            script.
              $(document).ready(function(){
                $(".add").click(function(){
                 $("#myModal").modal("show");
                });
              });

